.inline-block {
    display: inline-block;
}

.header-error {
    background: #F00;
}

.close-error {
    vertical-align: middle;
    background-image: url('./img/error.svg');
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 15px;
}